<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.channelmargin.mapper.MarginAccountOperationRecordMapper">

    <resultMap id="BaseResultMap" type="com.channelmargin.entity.MarginAccountOperationRecord">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="operation_record_id" property="operationRecordId"/>
        <result column="margin_account_id" property="marginAccountId"/>
        <result column="master_channel_name" property="masterChannelName"/>
        <result column="margin_account_channel_id" property="marginAccountChannelId"/>
        <result column="buss_no" property="bussNo"/>
        <result column="cust_name" property="custName"/>
        <result column="cust_id" property="custId"/>
        <result column="contract_no" property="contractNo"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="cont_amt" property="contAmt"/>
        <result column="allocation_ratio" property="allocationRatio"/>
        <result column="margin_use_balance" property="marginUseBalance"/>
        <result column="status" property="status"/>
        <result column="creater_id" property="createrId"/>
        <result column="creater" property="creater"/>
        <result column="create_time" property="createTime"/>
        <result column="editor" property="editor"/>
        <result column="edit_time" property="editTime"/>
        <result column="city_area" property="cityArea"/>
        <result column="order_status" property="orderStatus"/>
        <result column="remark" property="remark"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <select id="selectUseListPage" resultMap="BaseResultMap">
        SELECT * FROM margin_account_operation_record
        WHERE deleted = 0
        <if test="params.type != null and params.type != ''">
            AND type = #{params.type}
        </if>
        <if test="params.masterChannelName != null and params.masterChannelName != ''">
            AND master_channel_name LIKE CONCAT('%', #{params.masterChannelName}, '%')
        </if>
        <if test="params.bussNo != null and params.bussNo != ''">
            AND buss_no LIKE CONCAT('%', #{params.bussNo}, '%')
        </if>
        <if test="params.custName != null and params.custName != ''">
            AND cust_name LIKE CONCAT('%', #{params.custName}, '%')
        </if>
        <if test="params.contractNo != null and params.contractNo != ''">
            AND contract_no LIKE CONCAT('%', #{params.contractNo}, '%')
        </if>
        <if test="params.status != null and params.status != ''">
            AND status = #{params.status}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="selectListByParams" resultMap="BaseResultMap">
        SELECT * FROM margin_account_operation_record
        WHERE deleted = 0
        <if test="params.type != null and params.type != ''">
            AND type = #{params.type}
        </if>
        <if test="params.status != null and params.status != ''">
            AND status = #{params.status}
        </if>
        <if test="params.marginAccountId != null">
            AND margin_account_id = #{params.marginAccountId}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="getMarginTransitUseBalance" resultType="java.math.BigDecimal">
        SELECT COALESCE(SUM(margin_use_balance), 0)
        FROM margin_account_operation_record
        WHERE margin_account_id = #{marginAccountId}
        AND type = 'USE'
        AND status IN ('1', '3')
        AND deleted = 0
    </select>

    <select id="countByBussNo" resultType="long">
        SELECT COUNT(*) FROM margin_account_operation_record
        WHERE buss_no = #{bussNo}
        AND type = 'USE'
        AND deleted = 0
    </select>

</mapper>
