<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.channel.mapper.UserMapper">

    <select id="selectUserRoles" resultType="java.lang.String">
        SELECT DISTINCT r.role_code
        FROM sys_user_role ur
        INNER JOIN sys_role r ON ur.role_id = r.id
        WHERE ur.user_id = #{userId}
          AND r.deleted = 0
          AND r.status = 1
    </select>

    <select id="selectUserPermissions" resultType="java.lang.String">
        SELECT DISTINCT m.permission
        FROM sys_user_menu um
        INNER JOIN sys_menu m ON um.menu_id = m.id
        WHERE um.user_id = #{userId}
          AND m.deleted = 0
          AND m.status = 1
    </select>

</mapper>